.card {
  padding: 1rem 1rem 2rem;
  border: 1px solid #666;
  word-wrap: break-word;
  overflow: hidden;
  border-radius: .5rem;
}

.card__image {
  height: 202px;
  overflow: hidden;
  border-radius: .5rem;
}

.card__image img {
  /* border-radius: .5rem; */
  width: 100%;
}
/* 
.card__title {
  font-size: 1.2654rem;
} */

.card__edit__title__input {
  display: flex;
  align-items: end;
}

.card__edit__title__input > div {
  flex: 5
}

.card__edit__title__input > div > input {
  /* width: 100%;    
  margin-right: .5rem; */
}
.card__edit__title__action {
  text-align: right;
}

.card__edit__title__action button {
  width: 4rem;
}
  




.card__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__data {
  display: flex;
  /* align-items: center; */
}
  .card__data__price {
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: .5rem;
    display: flex;
    align-items: center;
  }

  .card__data__amount {
    /* padding: 0 0.5rem; */
    /* height: 2rem; */
    width: 4rem;
  }
  /* .card__data__amount:focus-visible {
    outline: none;
  } */
  .card__data__amount input {
    padding-top: 6px;
    padding-bottom: 6px;
  }







.card__description {
  font-size: .85em;
  line-height: 1.25;
}

/* .card__action {
  text-align: center;
} */


.card__more {
  text-align: center;
}
  .card__more a {
    color: inherit;
    font-size: 1.25rem;
  }


.card--color-2 {
  background-color: antiquewhite;

}



.card__swap {
  text-align: center;
}


/* @media (max-width: 767px) {
  .css-bhp9pd-MuiPaper-root-MuiCard-root {
    width: 90%;
  }
} */


