.css-zayqnb-MuiStack-root {
  margin-bottom: 0 !important;
  /* width: 3rem; */
}




@media (max-width: 767px) {
  .slider {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .slider {
    width: 30%;
  }
}

.slider > .MuiStack-root {
  margin-bottom: 0 !important; 
}



